# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "ded198766125339ce836575ee8593a78"
name = "AeroChat WhatsApp 1"
application_url = "https://introducing-cookie-rhythm-shadows.trycloudflare.com "
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-04"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_products,write_products"

[auth]
redirect_urls = [ "https://introducing-cookie-rhythm-shadows.trycloudflare.com /api/auth" ]
